<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meti - <%- nombrePagina %></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png">
        </a>

        <nav class="nav">
            <% if (locals.usuario.id) { %>
                <%- include('partials/nav-autenticado')  -%> 
            <% } else { %>
                <%- include('partials/nav-no-autenticado')  -%>
            <% } %>
    </nav>
    </header>

    <% if (locals.mensajes) { %>
        <% const categoria = Object.keys(locals.mensajes) %>
        <% if(categoria.length) { %>
            <% locals.mensajes[categoria].forEach(alerta => { %>
                <div class="alertas">
                    <p class="alerta <%= categoria %>"> <%= alerta %> </p>
                </div>
            <% }) %>
        <% } %>            
    <% } %>

    <%- body%>
    
    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear grupo</a>
            <a href="/iniciar-sesion">Iniciar sesion</a>
            <a href="/crear-cuenta">Regitrarse</a>
        </nav>

        <p class="copyright">Todos los derechos reservados Meti <%- year %></p>
    </footer>

    <script src="/js/trix.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>

    <% if(locals.grupos) { %>
        <script src="/dist/mapa.js"></script>
    <% } %>

    <script src="/dist/asistencia.js"></script>
    <script src="/dist/comentario.js"></script>
    <script src="/js/meeti.js""></script>

</body>
</html>